@media(min-width: 1200px) {
    .wrap__header-container{
        width: 80%;
    }

    .wrap__container{
        width: 80%;
    }

    .body__header {
        width: 100%;
        background-color: #051722;
        border-bottom: 1px solid #e9e9e9;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
/*         
        position: absolute;
        top: 0;
        left: 0; */
    }
    
    .wrap__header-container > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__brand img {
        height: 90px;
    }

    /* banner */
    /* .banner__home-content {
        bottom: 20%;
        left: 12%;
    } */

    .about__img {
        max-width: 500px;
        border: 3px solid #e3e3e3;
    }

    .contact__iframe {
        width: 100%;
        min-height: 380px;
    }

    .fixed__admission {
        padding: 12px 20px;
        background-color: #e13044;
        /* background-image: linear-gradient(to bottom, #bb0b13 0%, #e63f63 51%, #ca203f 100%); */
        /* border: 1px solid #7575dc; */
        color: #fefefe;
        display: inline-block;
        position: fixed;
        top: 300px;
        right: -30px;

        rotate: -90deg;
        z-index: 999;
    }
    
    .fixed__admission:hover {
        background-color: #e14b5d;
    }

    .widget {
        width: 50%;
    
        position: absolute;
        top: -50px;
        right: 10%;
        z-index: -1;
    }
    
}

@media(min-width: 960px) and (max-width: 1200px) {
    
    .body__banner .wrap__banner img {
        width: 100%;
    }

    .widget {
        width: 70%;
    
        position: absolute;
        top: -50px;
        right: 0;
    } 
    
    .about__img {
        max-width: 450px;
        border: 3px solid #e3e3e3;
    }
   
}

@media(min-width: 769px) and (max-width: 960px) {


    .wrap__header-container{
        width: 90%;
    }
    
    .widget {
        width: 70%;
    
        position: absolute;
        top: -40px;
        right: 0;
    }

    .about__img {
        width: 100%;
        border: 3px solid #e3e3e3;
    }
}

@media(min-width: 769px) {
    .hamberger, .d__sm, .hamburger {
        display: none;
    }

    .wrap__container{
        width: 80%;
    }

    .body__header {
        width: 100%;
        background-color: #051722;
        border-bottom: 1px solid #e9e9e9;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
/*         
        position: absolute;
        top: 0;
        left: 0; */
    }
    
    .wrap__header-container > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* body header */

    .header__brand img {
        height: 90px;
    }

    .header__top {
        padding: 5px 0;
        background-color: #031032;
        border-bottom: 1px solid #d0d0d0;
    }

    .header__top > .wrap__header-container {
        display: flex;
        justify-content: space-between;
    }

    .header__contact-block {
        display: flex;
    }

    .header__contact-block span .fa{
        color: #c9c8c8;
    }

    .header__contact-block .header__link {
        font-size: 0.9rem;
        color: #dcdcdc;
    }

    .header__top > .wrap__header-container .header__link:hover {
        color: var(--color-theme);
        transition: ease-in-out 400ms;
        -webkit-transition: ease-in-out 400ms;
        -moz-transition: ease-in-out 400ms;
        -ms-transition: ease-in-out 400ms;
        -o-transition: ease-in-out 400ms;
    }

    .header__top > .wrap__header-container .header__link i {
        color: #dcdcdc;
    }

    .body__header > .wrap__header-container > header {
        /* padding: 10px 0; */
    }
    
    /* body header */

    .main__nav{
        display: flex;
    }

    .nav__list {
        margin-left: 40px;
    }

    .nav__link:hover {
        color: var(--color-theme);
        transition: ease-in-out 500ms;
        -webkit-transition: ease-in-out 500ms;
        -moz-transition: ease-in-out 500ms;
        -ms-transition: ease-in-out 500ms;
        -o-transition: ease-in-out 500ms;
    }

    .active__nav {
        color: var(--color-theme)
    }

    .nav__parent {
        position: relative;
    }

    .sub__nav {
        display: none;
        padding-top: 30px;
        position: absolute;
        top:15;
        left: 0;
        z-index: 99;
    }

    .sub__nav ul {
        min-width: 240px;
        border-top: 2px solid var(--color-theme);
        /* padding: 10px 0; */
        background-color: #ffffffd6;
    }

    .sub__nav-list {
        padding: 10px 15px 10px 15px;
        border-bottom: 1px solid #a0a0a0;
    }

    .sub__nav-link {
        color: var(--color-theme-4);
        display: block;
    }

    .sub__nav-link:hover {
        color: var(--color-theme);
        transition: ease-in-out 200ms;
        -webkit-transition: ease-in-out 200ms;
        -moz-transition: ease-in-out 200ms;
        -ms-transition: ease-in-out 200ms;
        -o-transition: ease-in-out 200ms;
    }

    /* body footer */
    .footer__logo img {
        height: 90px;
    }

    

    .body__banner .wrap__banner img {
        width: 100%;
    }

    /* body banner */

    .wrap__banner {
        position: relative;
    }

    .banner__home-content {
        /* background: rgb(84,66,0);
        background: linear-gradient(90deg, rgba(84,66,0,0.7540266106442577) 20%, rgba(0,212,255,0.1293767507002801) 100%); */
        background: rgb(20,16,0);
        background: linear-gradient(90deg, rgba(20,16,0,0.5) 35%, rgba(0,212,255,0.1) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 10%;
        
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .body__banner .wrap__banner .d__lg img {
        /* height: 500px; */
    }

    .banner__home-header {
        padding-bottom: 30px;
    }

    .banner__home-header h2 {
        font-size: 4rem;
        font-weight: 600;
        color: var(--color-white);
        line-height: 4.6rem;
        text-shadow: 0 0 5px rgba(72, 43, 1, 0.3);

    }
        
    .banner__home-container p {
        width: 50%;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-white);
        line-height: 1.5rem;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
    /* ==============================
    
        Testimonials
    
    ==================================*/
    .testimonials {
        width: 80%;
        margin-inline: auto;
    }

    .testimonials {
        padding: 20px 0px 20px;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
        bottom: 80px;
    }

    .owl-carousel .owl-nav button.owl-next{
        right: -60px;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: -60px;
    }

    .owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
        opacity: 0.7;
        transition: ease-in-out 400ms;
        -webkit-transition: ease-in-out;
        -moz-transition: ease-in-out;
        -ms-transition: ease-in-out;
        -o-transition: ease-in-out;
    }

    /* ================================
    
        contact page
    
    ====================================*/
    .google__map iframe {
        width: 100%;
        height: 400px;
    }

    .three_d-iframe {
        width: 100%;
        height: 600px;
    }
    
    .contact__iframe {
        width: 100%;
        height: 400px;
    }
}

@media(max-width: 768px){
    .d__lg, .header__top {
        display: none;
    }

    .body__header {
        width: 100%;
        background-color: #051722;
        border-bottom: 1px solid #e9e9e9;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
/*         
        position: absolute;
        top: 0;
        left: 0; */
    }
    .wrap__header-container{
        width: 94%;
    }

    .wrap__container{
        width: 94%;
    }

    /* body header */
    .hamburger {
        position: absolute;
        top: 26px;
        right: 20px;
        font-size: 24px;
        color: var(--color-theme);
    }

    .nav__link {
        display: block;
        color: #fefefe;
        padding: 10px 10px;
    }

    .header__nav {
        /* background-color: #031032; */
    }

    .main__nav {
        display: none;
        padding: 0;
    }

    .main__nav .nav__list {
        border-bottom: 1px solid #121f40;
        position: relative;
    }
    

    .main__nav .nav__list i {
        position: absolute;
        top: 12px;
        right: 10px;
    }

    .header__brand img {
        height: 90px;
    }

    .active__nav {
        /* color: var(--color-theme); */
        background-color: var(--color-theme);
    }

    .nav__parent {
        /* position: relative; */
    }

    .sub__nav {
        display: none;
    }

    .sub__nav ul {
        background-color: #ffffffd6;
    }

    .sub__nav-list {
        padding: 10px;
        border-bottom: 1px solid #a0a0a0;
    }

    .sub__nav-link {
        color: var(--color-theme-4);
        display: block;
    }

    .sub__nav-link:hover {
        color: var(--color-theme);
        transition: ease-in-out 200ms;
        -webkit-transition: ease-in-out 200ms;
        -moz-transition: ease-in-out 200ms;
        -ms-transition: ease-in-out 200ms;
        -o-transition: ease-in-out 200ms;
    }
    
    /* body footer */
    .body__footer {
        margin-bottom: 40px;
    }

    .footer__logo {
        text-align: center;

    }

    .top__footer p {
        text-align: center;
        padding-bottom: 15px;
    }

    .social__media.footer__body {
        /* padding: 15px 0 11px 20px;
        border-top: 1px solid #07015f; */
        /* border-bottom: 1px solid #07015f; */
        /* background-color: #01022ca1; */
    }

    .social__media.footer__body ul {
        justify-content: center;
    }

    .footer__logo img {
        height: 90px;
        margin-bottom: 20px;
    }
    
    .body__fix {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    
    .footer__fix-button ul {
        margin-bottom: 0;
    }

    .footer__fix-button .footer__fixed-btn {
        padding: 10px;
        background-color: #c19102;
        color: #fff;

        
    }

    .back__to-top {
        right: 10px;
        bottom: 42px;
    }

    .wrap__banner {
        position: relative;
    }

    .banner__home-content {
        /* background: rgb(84,66,0);
        background: linear-gradient(90deg, rgba(84,66,0,0.7540266106442577) 20%, rgba(0,212,255,0.1293767507002801) 100%); */
        background: rgb(20,16,0);
        background: linear-gradient(90deg, rgba(20,16,0,0.5) 35%, rgba(0,212,255,0.1) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 10%;
        
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .body__banner .wrap__banner .d__lg img {
        /* height: 500px; */
    }

    .banner__home-header {
        padding-bottom: 30px;
    }

    .banner__home-header h2 {
        font-size: 2.4rem;
        font-weight: 600;
        color: var(--color-white);
        line-height: 3rem;
        text-shadow: 0 0 5px rgba(72, 43, 1, 0.3);
    }
        
    .banner__home-container p {
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-white);
        line-height: 1.5rem;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }

    /* ==============================
    
        Testimonials
    
    ==================================*/
    .testimonials {
        width: 98%;
        margin-inline: auto;
    }

    .testimonials {
        padding: 20px 0px 20px;
    }


    /* =================================
    
        Testimonial
    
    ====================================*/
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
        bottom: -25px;
        background-color: #121f40 !important;
        color: #fff;
    }

    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
        right: -17px;
    }

    .owl-carousel .owl-nav button.owl-prev {
        right: 30px;
    }

    .three_d-iframe {
        width: 100%;
        height: 450px;
    }

    .widget {
        width: 100%;
        position: static;
    }
    
    .about__img {
        margin-top: 30px;
        width: 100%;
        border: 3px solid #e3e3e3;
    }
    
    .contact__iframe {
        width: 100%;
        height: 400px;
    }
}