@media(min-width: 769px){

    .hamburger {
        display: none;
    }

    .body__header header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 0 25px;
    }

    .header__nav ul {
        display: flex;
    }

    /*  header nav
    ============================================= */
    .nav__list + li {
        margin-left: 40px;
    }
    
    .nav__link:hover {
        color: var(--color-theme);
        transition: ease-in-out 300ms;
        -webkit-transition: ease-in-out 300ms;
        -moz-transition: ease-in-out 300ms;
        -ms-transition: ease-in-out 300ms;
        -o-transition: ease-in-out 300ms;
    }

    .fixed-header .nav__link {
        color: #111111;
    }

    /* ===========================================

        #body footer

    ===============================================*/
    .banner__sm {
        display: none;
    }

    .banner__lg {
        width: 100%;
        height: 100vh;
    }

    .testimonial__container {
        width: 50%;
        margin: 0 auto;
    }

    .iframe__map {
        width: 100%;
        min-height: 600px;
    }

    .section__contact .container > div {
        align-items: stretch;
    }

    /* footer nav
    ==================================== */
    .footer__nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer__nav li::after {
        content: "|";
        margin: 0 30px;
        color: #fff;
    }
    
    .footer__nav li:last-child::after  {
    content: " ";        
    }

    .sticky__enquiry {
        right: 40px;
        bottom: 30px;
    }
}

@media(max-width: 768px){
    .hamburger {
        position: absolute;
        top: 20px;
        right: 2%;
        background-color: var(--color-theme);
        padding: 10px 15px 7px;
    }

    .hamburger i {
        font-size: 20px;
        color: #fff;
    }

    .body__header {
        /* background-color: rgba(237, 237, 237, 0.767); */
        padding: 30px 0 10px;
        background-color: rgba(255, 255, 255);
    }

    .header__brand {
        margin-bottom: 20px;
        /* text-align: center; */
    }

    .header__nav {
        text-align: center;
        width: 100%;
        height: 90vh;
        padding: 30px 0;
        position: absolute;
        left: 0;
        background-color: rgb(46, 46, 46);
        display: none;
    }

    .nav__link {
        display: block;
        /* margin-bottom: 1px; */
        padding: 8px 0;
        border-bottom: 1px solid #111111;
        /* background-color: #232323c9; */
        /* background-color: var(--color-theme); */
    }

    
    .nav__list:first-child .nav__link {
        border-top: 1px solid #111111;

    }
 
    .nav__list:last-child {
        /* margin-top: 30px; */
        border-top: 4px solid rgba(111, 111, 111, 0.507);
        border-bottom: 4px solid rgba(111, 111, 111, 0.507);
    }

    

    .nav__list:last-child .nav__link {
        background-color: var(--color-theme);
    }

    
    /* ===========================================

        #body footer

    ===============================================*/
    .banner__lg {
        display: none;
    }

    .banner__sm {
        width: 100%;
        height: 100vh;
    }

    

    .sticky__enquiry {
        right: 10px;
        bottom: 10px;
    }
}

@media(max-width: 768px) and (min-width: 575px){
    
}