/* ========================================
+
+   Developer : Rohit (rohitwebco@gmail.com)
+   Github    : https://github.com/rohitsraj12/
+   Date      : 19 Oct 2021
+
===========================================*/


@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");
/* 
    font-family: 'Rubik', sans-serif; 
*/

:root {
  --color-white: #ffffff;
  --color-theme: #e63d53;
  --color-dark: #212529;

  --color-light-gray: #f5f5f5;
  --color-dark-gray: #5c5c5c;

  --color-text-1: rgb(255, 255, 255);
  --color-text-2: #999;

  --font-primary: "Rubik", sans-serif;
  --font-secondary: "Charmonman", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-primary);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  background: rgb(252, 252, 252);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(134, 134, 134);
  /* border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #696969;
    background-color: #a5a5a5;
    box-shadow: inset 0 0 5px grey;
  /* border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #969696;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

strong {
    font-weight: 400;
}

p,
li {
  font-size: 1rem;
  font-family: var(--font-primary);
  font-weight: 300;
}

.section__header {
    padding-bottom: 30px;
}

.sub__header {
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
  color: #515151;
}

.red {
    color: var(--color-theme);
}

.under__line, .under__line-left {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.under__line::after {
    content: "";
    width: 4%;
    height: 2px;
    background-color: var(--color-theme);
    position: absolute;
    bottom: -10px;
    left: 48%;
}
.under__line::before {
    content: "";
    width: 4px;
    height: 11px;
    background-color: var(--color-theme);
    position: absolute;
    bottom: -14px;
    left: 50%;
}
.under__line-left::after {
  content: "";
  width: 8%;
  height: 2px;
  background-color: var(--color-theme);
  position: absolute;
  bottom: -10px;
  left: 0;
}

.under__line-left::before {
  content: "";
  width: 4px;
  height: 11px;
  background-color: var(--color-theme);
  position: absolute;
  bottom: -14px;
  left: 4%;
}

.header__text {
    font-size: 42px;
}

.secondary__header {
  font-family: var(--font-primary);
  font-size: 24px;
  color: var(--color-theme);
}

.btn__primary {
  background-color: var(--color-theme);
  color: #fff;
  transition: ease-in-out 100ms;
  -webkit-transition: ease-in-out 100ms;
  -moz-transition: ease-in-out 100ms;
  -ms-transition: ease-in-out 100ms;
  -o-transition: ease-in-out 100ms;
  outline: var(--color-theme) solid 1px;
  outline-offset: 1px;
}

.btn__primary:hover {
  /* border: 1px solid var(--color-theme); */
  outline-offset: 3px;
  /* opacity: 0.9; */
  border-spacing: 12em;
  color: #fff;
}

.btn__primary i {
  display: inline-block;
  padding-left: 10px;
}

.primary__note {
  padding: 5px 0 ;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}

.left__line {
  padding-left: 20px;
  border-left: 2px solid var(--color-theme);
}


/* ===========================================

    #default styling

===============================================*/
.body__wrap {
    position: relative;
}

/* ===========================================

    #body header

===============================================*/
.non__fixed-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    /* background-color: rgba(7, 7, 7, 0.133); 
    border-bottom: 1px solid rgba(33, 33, 33, 0.356);*/
}

.fixed-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 700ms;
    -webkit-transition: ease-in-out 700ms;
    -moz-transition: ease-in-out 700ms;
    -ms-transition: ease-in-out 700ms;
    -o-transition: ease-in-out 700ms;
}

/*  header nav
============================================= */
.nav__link {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

/* ===========================================

    #body footer

===============================================*/


.footer__nav a {
  color: #fff;
  font-weight: 400;
}

.body__footer {
  background-color: var(--color-theme);
}

.copy__right {
  background-color: #b3162b;
}

/* ===========================================

    #body banner

===============================================*/


/* ===========================================

    #body container

===============================================*/

.about__figure {
  outline: #f7cdcd solid 2px;
  outline-offset: 2px;
}

.about__figure img {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
/* 
============================================== */
.course__header {
  font-family: var(--font-primary);
  font-size: 22px;
  font-weight: 400;
}
.section__course {
  position: relative;
  padding-bottom: 70px;
}

.section__course::before {
  content: "";
  width: 100%;
  height: 200px;
  background-color: #ececec;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}

.course__body article {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
}

.course__body article:hover {
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
}

.course__body header {
  padding: 10px 0 0;
}

.course__body figure{
  margin: 0;
  padding: 3px;
  /* border: 1px solid #d0d0d0; */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.course__body img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* section brochure
============================================== */
.section__brochure {
  background-color: #ececec;
  padding-bottom: 100px;
  text-align: center;
}

.section__brochure header h5{
  padding-bottom: 20px;
  font-family: var(--font-primary);
  font-size: 30px;
  font-weight: 400;
}

.section__brochure header h6{
  font-family: var(--font-primary);
  font-size: 20px;
  font-weight: 400;
}

/* 
============================================== */

.section__feature .row {
  align-items: stretch;
  height: 100%;
  padding: 0;
}

.section__feature-right >section > article {
  height: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__feature figure {
  padding: 0;
  margin: 0;
  height: 100%;
}

.section__feature figure img{
  object-fit: cover;
  height: 100%;
}

.section__feature .col-6 {
  padding: 0;
}

.section__left {
  width: 150px;
  /* text-align: center; */
  margin-right: 20px;
}
.section__right p {
  margin-bottom: 0;
}

.feature__icon {
  background-color: var(--color-theme);
  width: 60px;
  height: 60px;
  text-align: center;
  outline: var(--color-theme) solid 1px;
  outline-offset: 2px;
}

.feature__icon i {
  font-size: 30px;
  color: #fff;
  line-height: 60px;
} 

/*  Section fecility
================================================ */
.section__fecility {
  background-color: #ececec;

}

.fecility__icon {
  margin: 0 auto 10px;
  width: 100px;
  height: 100px;
  background-color: var(--color-theme);
  line-height: 100px;
  outline: var(--color-theme) solid 1px;
  outline-offset: 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
}

.fecility__block {
  transition: ease-in-out 300ms;
  -webkit-transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;
  -ms-transition: ease-in-out 300ms;
  -o-transition: ease-in-out 300ms;
}

.fecility__block:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.fecility__block:hover .fecility__icon{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  outline: var(--color-theme) solid 1px;
  outline-offset: 4px;
}

.fecility__block header {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    color: #464646;
  
}

/*  Section testimonial
================================================ */
.section__testimonial {
  background-image: url(../img/bg/bg-pattern-1.png);
}

.carousel-indicators {
  justify-content: flex-end;
  align-items: flex-end;
}
.carousel-indicators [data-bs-target] {
  border: 1px solid #e8e8e8;
  background-color:rgb(38, 33, 33);
  width: 5px;
  height: 15px;
  margin-right: 3px;
}
.carousel-indicators .active {
  height: 30px;
  background-color: var(--color-theme);
}

/* sticky button 
====================================================*/
.sticky__enquiry{
  position: fixed;
  text-align: center;
  z-index: 99;
}

.sticky__enquiry a {
  display: inline-block;
  padding-top: 5px;
  width: 60px;
  height: 60px;
  background-color: var(--color-theme);
  color: #fff;
  font-size: 30px;
  line-height: 60x;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 15px rgba(18, 16, 16, 0.534);
  border: 1px solid #c92b2b;
}